* {
  margin: 25px;
  padding: 0;
  /* font-family: 'lato',sans-serif; */
  box-sizing: border-box;
}


#allergy{
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: auto;
}

#allergies{
  border: 2px solid black;
  display: block;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
}

p:hover {
  color: rgb(62, 181, 62);
}
.generated-list:hover {
  background-color: rgb(182, 235, 182);

} 

#generate:hover {
  animation-name: wiggle;
  animation-duration: 1s;
}

/* Keyframes */
@keyframes wiggle {
  0%, 6% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-10deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(4deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }

}
