*{
    padding: 0;
    margin: 0;
    border: 0;
    font-weight: bolder;

    
}

body{
    background: beige;
   color: darkgreen;
}
.nav-list {
    color: white;
    background:darkgreen;
    border: 1px solid darkgreen;
    padding: 5px;
    border-radius: 5px;
}

.nav-ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a:hover{
    background:linear-gradient(to right, white, lightgreen,green,darkgreen);
    color:pink
}

.header h1{
    font-size: 5em;
    text-decoration:underline;
    display: flex;



}

.header h2{
    font-size: 3em;

}

.pros{
    font-size: 2em;
    text-decoration: underline;
}

.cons{
    font-size: 2em;
    text-decoration: underline;
}