*{
    padding: 0;
    margin: 0;
    border: 0;
    color: darkgreen;
    font-weight: bolder;

    
}

body{
    background: beige;
}

.header h1{
    font-size: 5em;
    text-decoration:underline;
    display: flex;



}

.header h2{
    font-size: 3em;

}

.pros{
    font-size: 2em;
    text-decoration: underline;
}

.cons{
    font-size: 2em;
    text-decoration: underline;
}