body {
    
    background-color: rgb(204, 226, 255);
    padding: 2%;
    
}

#h1 {
    font-size: 50px;
}

#topSection {

    text-align: center;
}


.topicSection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    
    
}

#submitButton {
    background-color: lightgrey;
    width: 100px;
}

#textarea {

    width: 400px;
    height: 60px;
}

footer {
    text-align: center;
}

#firstImage {
    
    border-radius: 90px;
    align-items: center;
   
}