body {
    
    background-color: rgb(204, 226, 255);
    padding: 2%;
    
}

/*Main H1 Header*/
#h1 {
    font-size: 50px;
}


#topSection {

    text-align: center;
}


/*Section portion for the three food groups - image links*/

.topicSection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    
    
}

/*Where the user clicks submit after typing in text area*/

#submitButton {
    background-color: lightgrey;
    width: 100px;
}

/*Block where user enters in data*/

#textarea {

    width: 400px;
    height: 60px;
}

footer {
    text-align: center;
}

/*First Image on the page*/

#firstImage {
    
    border-radius: 90px;
    align-items: center;
   
}