body {
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
}

/* Tailwind format */
#header{
    border: 7px solid darkblue;
    /* border-top-width: 2px;
    border-bottom-width: 2px; */
    background-color: white;
    padding: .5%;
}

nav 
  li {
    display: inline-block;
    margin-right: 10px; /* add spacing between items */
  }


h1 {
    font-weight: 800px;
    line-height: 5rem;
    padding-bottom: 1.5%;
    text-align: center;
 
}
/* from https://wdexplorer.com/20-examples-beautiful-css-typography-design/ */
h1 { color: #d54d7b; font-family: "Great Vibes", cursive; font-size: 110px; line-height: 160px; font-weight: normal; margin-bottom: 0px; margin-top: 40px; text-align: center; text-shadow: 0 1px 1px #fff; }
h1::before {  
  transform: scaleX(0);
  transform-origin: left right;
}

#main-image img {
  border: 5px solid darkblue;
}


h2 {
    text-align: center;
}

p {
  text-align: center;
}

.center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
}


#image-container {
    box-sizing: border-box;
     max-width: 150%;
    margin: 10px;
    padding: 5px;
      
}
/* * {
  box-sizing: border-box;
} */



#allergy{
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: auto;
}

#allergies{
  border: 2px solid black;
  display: block;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 20%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  text-align: center;
  background-color: #f1f1f1;
  border: 5px solid darkblue;
  height: 275px;
  width: 350px;
  margin-left: 100px;
  margin-top: 25px;
}

#information {
    max-width: 80%;
    margin-left: 10%;
}

#recipe-Search img {
  box-sizing: border-box;
  background-color: #f1f1f1;
  border: 5px solid darkblue;
  height: 275px;
  width: 350px;
  margin-left: 300px;
  margin-right: 300px;
}
h3{
  text-align: center;
  text-decoration: underline;
}

#nutrient {
  text-align: center;
}

 ul {
    list-style: none;
    text-align: center;
  }
 ul li::before {
    content: "";
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/fb-heart.gif);
    background-size: contain;
    display: inline-block;
    width: 1em;
    height: 1em;
    position: relative;
    top: 0.1rem;
    margin-right: 0.2rem;
  }

#recipe-site {
  align-items: center;
  padding: 1%;
  margin-left: -20%;
}  
#generate {
  margin-left: 375px;
  margin-right: 375px ;
  background-color: white; 
  color: darkblue; 
  border: 2px solid darkblue;
}

#generate:hover {
  background-color: darkblue;
  color: white;
}